@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    font-family: Nunito;
    margin:0;

}
body nav{
    background-color: rgb(67, 130, 247);
    width: 100%;
    display: flex;
}

body nav div{
    padding-left: 10%;
}

body nav div a{
    text-decoration: none;
    color: white;
}
body nav div a:hover{
    color: rgba(255, 255, 255, 0.808);
}
body nav div .logo{
    font-size: 45px;
}

.container{
    margin-left: 5%;
    display: grid;
    margin-top: 30px;
}

main{
    display: inline-block;
}

main article {
    padding: 3px;
    color: rgb(67, 130, 247);
    padding-bottom: 30px;
    font-size: 13px;
}

main article img{
    height: 50%;
}

main article .historias{
    color: white;
    background-color: rgb(67, 130, 247);
    padding: 2px;
    width: 55px;
    border-radius: 1px;
    margin-bottom: 5px;
}
main article .cultura{
    color: white;
    background-color: rgb(255, 22, 61);
    padding: 2px;
    width: 80px;
    border-radius: 1px;
    margin-bottom: 5px;
}
main article .futebol{
    color: white;
    background-color: rgb(36, 165, 4);
    padding: 2px;
    width: 50px;
    border-radius: 1px;
    margin-bottom: 5px;
}
main article .publicidade{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 232, 23);
    padding: 2px;
    width: 70px;
    border-radius: 1px;
    margin-bottom: 5px;
}

main article a {
    text-decoration: none;
    color: rgb(67, 130, 247);
    margin-top: 20px;
    padding: 5px 80px;
    box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.116);
}

footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color:rgb(67, 130, 247);
}

footer p{
    margin-left: 15%;
    color: white;
}

.vagas{
    display: flex; 
    width: 100%;
    color: white;
    text-align: center;
}
.vagas a{
    text-decoration: none;
    color: white;
    padding-top: 15px;
    font-size: 10px;
}
.numEmprego, .verMaisEmp{
    background-color: rgb(55, 67, 231);
    margin-top: 3px;
}
.numClassificados, .verMaisClas{
    background-color: rgb(31, 80, 50);
    margin-top: 3px;
}
.numCurriculos, .verMaisCurr{
    background-color: rgb(248, 91, 0);
    margin-top: 3px;
}

.destaque{
    margin-top: 3px;
    background-color: orange;
}
.gratis{
    margin-top: 3px;
    background-color: rgb(38, 184, 38);
}
.menusNavegacao{
    margin-top: 20px;
}
.menusNavegacao a{
    padding-left: 3px;
}

.pageCurriculo{
    margin-left: 50%;
    border: none;
}

.empregosCards{
    display: flex;
    font-size: 12px;
    margin-left: 45px;
    padding-top: 30px;

}
.empregosCards a{
    text-decoration: none;
    background-color: rgb(95, 162, 250);
    padding: 2px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
}

small{
    font-size: 8px;
    color: rgb(95, 162, 250);
    font-weight: bold;
}
span {
    font-size: 13px;
}
.curriculoTitulo{
    text-align: center;
    margin-left: 85%;
}